<?xml version="1.0" encoding="UTF-8" ?>
<!--
    DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
    Copyright 2016, Andrey Shcherbinko. All rights reserved.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd"
        >

    <bean id="passwordEncoder" class="org.springframework.security.crypto.password.StandardPasswordEncoder"/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="url" value="jdbc:sqlite:${db}"/>
    </bean>

    <bean id="dataSourceInitializer" class="org.springframework.jdbc.datasource.init.DataSourceInitializer" depends-on="dataSource">
        <property name="dataSource" ref="dataSource"/>
        <property name="databasePopulator">
            <bean id="dataSourcePopulator" class="org.springframework.jdbc.datasource.init.ResourceDatabasePopulator">
                <property name="scripts">
                    <list>
                        <value>classpath:sql/schema.ddl</value>
                        <value>classpath:sql/insert.sql</value>
                    </list>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" depends-on="dataSourceInitializer">
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">validate</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.SQLiteDialect</prop>
            </props>
        </property>

        <property name="dataSource" ref="dataSource"/>

        <property name="persistenceProvider">
            <bean class="org.hibernate.jpa.HibernatePersistenceProvider"/>
        </property>
    </bean>

    <bean id="entityManager" class="org.springframework.orm.jpa.support.SharedEntityManagerBean">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <security:http use-expressions="true" auto-config="true">
        <security:intercept-url pattern="/" access="isAuthenticated()"/>
        <security:intercept-url pattern="/index.html" access="isAuthenticated()"/>
        <security:intercept-url pattern="/services/**" access="isAuthenticated()"/>

        <security:form-login login-page="/login.html" default-target-url="/index.html"/>
        <security:logout logout-url="/logout"/>
        <security:csrf disabled="true"/>
    </security:http>

    <security:global-method-security proxy-target-class="true"/>

    <security:authentication-manager>
        <security:authentication-provider>
            <security:jdbc-user-service data-source-ref="dataSource"
                                        users-by-username-query="select login, password, 1=1 from Users where login = ?"
                                        authorities-by-username-query="select ?, NULL"/>
            <security:password-encoder ref="passwordEncoder"/>
        </security:authentication-provider>
    </security:authentication-manager>

    <bean class="org.springframework.boot.autoconfigure.security.SecurityProperties"/>
    <bean class="org.springframework.boot.autoconfigure.web.ServerProperties"/>
</beans>