body {
    padding: 20px;
    background: lightskyblue;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.panel-heading h1 {
    text-align: center;
}

.new-task {
    font-size: large;
    width: 100%;
}

.task-line label {
    max-width: 80%;
    word-break:break-all;
}

.task-line .delete-btn {
    font-size: large;
    float: right;
}

.panel-footer {
    text-align: center;
}

.logout {
    float: right;
}

.login-card {
    text-align: center;
}